:root {
  --gallery-gap: 1.5em;
  --gallery-items-per-row: 1;
}

.gallery {
  display: flex;
  gap: var(--gallery-gap);
  flex-wrap: wrap;
}

.gallery-item {
  flex: 0 0
    calc(
      100% / var(--gallery-items-per-row) - var(--gallery-gap) *
        (var(--gallery-items-per-row) - 1) / var(--gallery-items-per-row)
    );
  border-radius: 1rem;
  overflow: hidden;
  border: 0;
  outline: 0;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transform: scale(0);
  transition-duration: 250ms;
  transition-property: transform;
  animation: gallery-item-show 250ms;
  animation-fill-mode: forwards;
}

@media only screen and (min-width: 650px) {
  .gallery-item {
    --gallery-items-per-row: 2;
  }
}
@media only screen and (min-width: 980px) {
  .gallery-item {
    --gallery-items-per-row: 3;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery-item {
    --gallery-items-per-row: 4;
  }
}

@keyframes gallery-item-show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.image-wrapper {
  height: 192px;
  overflow: hidden;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: 250ms;
  transition-property: transform;
}

.image-wrapper:hover img {
  transform: scale(1.1);
}

.image-description {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.description-title {
  font-size: 14px;
  color: #ae1100;
}

.description-value {
  font-size: 12px;
}

.load-more:not([hidden]) {
  display: block;
  margin: 0 auto;
}

.pagination {
  padding: 16px;
  height: 80px;
}
